.navbar {
  position: relative;
display: flex;
height: 163px;
background: #2A2E41;
gap: 300px;
justify-content: center;
z-index: 100;
}
.buttonlink {
  font-family: 'Meera Inimai', serif;
  border-radius: 20px;
  font-weight: 400;
  font-size: 48px;
  margin-top: 50px;
  margin-right: 15px;
  color: azure;
}
.backgroundRight {
  margin-top: 155px;
  position: absolute;
  right: 0;
  top: 10px;
  overflow: hidden;
}
.square {
  width: 768px;
  height: auto;
  padding-bottom: 2rem;
  background-color: rgba(42, 46, 65, 100);
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
}
.avatar {
  margin-left: 35px;
  margin-top: 35px;
}
.shortSummary {
  margin-left: 450px;
  margin-top: -200px;
  color: #FFFFFF;
  font-size: 40px;
}
.shortSummary p {
  margin-left: -70px;
}
.aboutTechs {
  position: relative;
  color: #FFFFFF;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 60px;
  height: 100px;
  margin-left: 150px;
  font-size: 40px;
}
.techs {
  position: relative;
  display: flex;
  margin-left: 10px;
  gap: 100px;
  margin-top: 50px;
}
.background {
  z-index: 1;
  position: absolute;
  top: -600px;
  left: 0;
  width: 100%;
  object-fit: cover;
}